html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object, button{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    color: #444444;
}
html, body, img{border: 0px; font-size: 12px;}
body, input, button, select, textarea{color: #444444;}
body{padding-left: 6px;}

textarea{resize: none;}
ul, ol{list-style: none outside none;}
a{color: #2366a8; text-decoration: none;}
a,img{margin: 0px; padding: 0px;}
a:link{color: #2366a8; text-decoration: none;}
a:visited{color: #2366a8; text-decoration: none;}
a:hover{text-decoration: underline; color: #2366a8;}
/* vertical-align: middle; */
img{border: 0px solid #ffffff;}

.nb{border: none;}
.bb{font-weight: bold;}
.nw{white-space: nowrap;}
.left{text-align: left;}
.right{text-align: right;}
.center{text-align: center;}
.red{color: #ff0000;}
.white{background-color: #ffffff;}
.required{color: #ff0000;}
.gray{background-color: #efefef;}
.note{color: #ff0000;}
.hide{display: none;}
.show{display: block;}

.fl{float: left;}
.fr{float: right;}

.w10{width: 10px;}
.w20{width: 20px;}
.w30{width: 30px;}
.w60{width: 60px;}
.w70{width: 70px;}
.w80{width: 80px;}
.w100{width: 100px;}
.w120{width: 120px;}
.w150{width: 150px;}
.w160{width: 160px;}
.w180{width: 180px;}
.w200{width: 200px;}
.w240{width: 240px;}
.w250{width: 240px;}
.w260{width: 240px;}
.w280{width: 280px;}
.w292{width: 292px;}
.w300{width: 300px;}
.w320{width: 320px;}
.w360{width: 360px;}
.w400{width: 400px;}
.w480{width: 480px;}
.w500{width: 500px;}
.w600{width: 600px;}
.w750{width: 750px;}

.h10{height: 10px;}
.h20{height: 20px;}
.h22{height: 22px;}
.h24{height: 24px;}
.h28{height: 28px;}
.h30{height: 30px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h60{height: 60px;}
.h70{height: 70px;}
.h80{height: 80px;}
.h90{height: 90px;}
.h100{height: 100px;}
.h120{height: 120px;}
.h140{height: 140px;}
.h150{height: 150px;}
.h160{height: 160px;}
.h180{height: 180px;}
.h200{height: 200px;}
.h220{height: 220px;}
.h240{height: 240px;}
.h250{height: 250px;}
.h260{height: 260px;}
.h270{height: 270px;}
.h280{height: 280px;}
.h290{height: 290px;}
.h296{height: 296px;}
.h300{height: 300px;}
.h320{height: 320px;}
.h340{height: 340px;}
.h360{height: 360px;}
.h380{height: 380px;}
.h400{height: 400px;}
.h420{height: 420px;}
.h450{height: 450px;}
.h460{height: 460px;}
.h480{height: 480px;}
.h500{height: 500px;}
.h600{height: 600px;}
.h700{height: 700px;}
.h800{height: 800px;}

.lpad0{padding-left: 0px;}
.lpad2{padding-left: 2px;}
.lpad4{padding-left: 4px;}
.lpad5{padding-left: 5px;}
.lpad6{padding-left: 6px;}
.lpad8{padding-left: 8px;}
.lpad10{padding-left: 10px;}
.lpad12{padding-left: 12px;}
.lpad14{padding-left: 14px;}
.lpad16{padding-left: 16px;}
.lpad18{padding-left: 18px;}
.lpad20{padding-left: 20px;}
.lpad24{padding-left: 24px;}
.lpad28{padding-left: 28px;}
.lpad30{padding-left: 30px;}
.lpad32{padding-left: 32px;}
.lpad36{padding-left: 36px;}
.lpad40{padding-left: 40px;}

.f12{font-size: 12px;}
.f14{font-size: 14px;}
.f16{font-size: 16px;}
.f18{font-size: 18px;}
.f20{font-size: 20px;}

div.c10{clear: both; height: 10px;}
div.c20{clear: both; height: 20px;}

input.text{padding-left: 4px; height: 24px; line-height: 24px; border: 1px solid #d0d0d0; outline: none; font-size: 13px; color: #000000;}
input.required{padding-left: 4px; height: 20px; border: 1px solid #ff8f39; background-color: #faffbd; outline: none; color: #000000;}
input.text2{padding-left: 4px; height: 30px; border: none; font-size: 13px; color: #666666;}
input.text2:focus{outline: #a5c7fe solid 2px; color: #000000;}
input.keyword {padding-left: 4px; height: 24px; line-height: 24px; border: 1px solid #cccccc; outline: none; font-size: 13px; color: #000000;}
input.button {padding-left: 10px; padding-right: 10px; height: 24px; border: 1px solid #cccccc; background-color: #ffffff;}
input.button:hover{border: 1px solid #ff6a00; background-color: #ff6a00; color: #ffffff;}

input.color-picker{width: 80px; height: 24px; border-width: 1px; border-style: solid; border-color: #cccccc #666666 #666666 #cccccc;}

input.date{padding-left: 4px; height: 24px; line-height: 24px; border: 1px solid #d0d0d0; background: url(../images/date.gif) no-repeat right; outline: none; font-size: 13px; color: #000000;}
input.color{padding-left: 4px; height: 24px; line-height: 24px; border: 1px solid #d0d0d0; background: url(../images/color.gif) no-repeat right; outline: none; font-size: 13px; color: #000000;}

/* input[type="text"]:focus, input[type="password"]:focus, textarea:focus {outline: medium none;} */

img.select{margin-top: -4px; margin-left: 0px; padding: 0px; border: 0px solid #ffffff; vertical-align: middle;}
textarea.remark{border: 1px solid #d0d0d0; outline: none; resize: none; color: #333333;}
textarea.text{border: 1px solid #d0d0d0; outline: none; resize: none; color: #333333;}
textarea.text2{border: none; outline: none; resize: none; color: #333333;}

a:focus {outline: medium none;}
a{font-size: 12px; text-decoration: none; color: #666666; text-decoration: none;}

.second{color: #9c9c9c;}
.ellipsis{text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

a.btn {
    margin: 0px 6px 0px 0px;
    padding: 0px 6px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    cursor: default;
}
a.btn:hover{background-color: #efefef;}
a.faq{margin-left: 10px; padding: 1px; background: url(../images/faq.gif) no-repeat 0px 1px; text-decoration: none; display: none;}
div.item-img{float: left; width: 90px; height: 80px;}
div.item-img img{width: 80px; height: 80px; border: 1px solid #e9e9e9;}
div.header{height: 58px; background-color: #f5faff; border-bottom: 1px solid #a3c4d7;}

div.path {
    background-color: #f5faff;
    border-bottom: 2px solid #d7e8f1;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding-left: 6px;
}

div.menu-bar {
    margin: 10px 0px 10px 0px;
    height: 28px;
    overflow: hidden;
}

div.menu-panel {
    border-bottom: 2px solid #ff6a00; /* border-bottom: 2px solid #d7e8f1; */
    overflow: hidden;
    padding-left: 0px;
}

div.menu-panel h4 {float: left; margin: 8px 0px 4px 0px; width: 380px; font-size: 16px; font-weight: bold; color: #ff6a00;}
div.menu-panel h4 span{font-size: 12px; color: #999999;}
div.menu-panel div.menu {margin: 0px 0px 0px 400px; overflow: hidden;}

div.menu-panel div.menu a.item {
    display: inline-block;
    float: left;
    outline: medium none;
    margin: 8px 4px 0px 0px;
    padding: 4px 16px 4px 16px;
    border-radius: 4px 4px 0px 0px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #999999;
}

/* #ffa200 */
div.menu-panel div.menu a:hover {background-color: #f3f3f3; color: #888888;}
div.menu-panel div.menu a.active {background-color: #ff6a00; color: #ffffff;}

/* form */
div.form {overflow: hidden;}
div.tips {overflow: hidden;}
div.form div.title, div.tips div.title {
    clear: both;
    margin-bottom: 6px;
    border-bottom: 1px dashed #dddddd;
    font-size: 14px;
    font-weight: bold;
    color: #336699;
    overflow: hidden;
}
div.tips div.title h4, div.form div.title h4{
    float: left;
    margin: 10px 0px 6px 0px;
    width: 360px;
    padding-left: 18px;
    background: url(../images/viewtip.gif) no-repeat 0px 1px;
    text-align: left;
    font-size: 12px;
    color: #336699;
}

ul.tips {margin: 10px 0px 10px 0px;}
ul.tips li {
    margin-bottom: 5px;
    padding: 0px 0px 5px 14px;
    line-height: 160%;
    background: url(../images/dot.gif) no-repeat 0px 7px;
}

div.form div.menu {
    margin: 6px 0px 0px 400px;
    overflow: hidden;
}

div.form div.menu a.item {
    display: inline-block;
    float: left;
    outline: medium none;
    padding: 4px 16px 4px 16px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #999999;
}
div.form div.menu a.active {background-color: #ff6600; color: #ffffff;}

div.form div.row{clear: both; padding-bottom: 0px; border-bottom: 1px dashed #dddddd; overflow: hidden;}
div.form div.c300{float: left; width: 300px}
div.form div.m300{margin-left: 300px}
div.form .comment{line-height: 1.8em; color: #9c9c9c}
div.form div.row:hover a.faq{display: inline;}
div.form div.row:hover .comment{color: #555555;}

div.form div.label{padding: 10px 0px 10px 0px; font-size: 12px; font-weight: bold; overflow: hidden; color: #555555;}
div.form div.field{margin-bottom: 10px; padding: 4px 0px 4px 0px; overflow: hidden;}
div.form div.field span.block{display: inline-block; height: 24px; border: 1px solid #d0d0d0;}
div.form div.field input[type=text] {width: 250px; height: 22px;}
div.form div.field select {width: 256px; height: 24px; border: 1px solid #d0d0d0; outline: none; font-size: 13px; color: #000000;}
div.form div.field textarea {padding-left: 4px; width: 250px; height: 100px; border: 1px solid #d0d0d0;}

div.form div.field input[type=text]:hover {border: 1px solid #ff9900; background-color: #ffffff;}
div.form div.field select:hover {border: 1px solid #ff9900; background-color: #ffffff;}
div.form div.field textarea:hover {border: 1px solid #ff9900; background-color: #ffffff;}

div.form div.field ul li{float: left; margin-right: 20px; white-space: nowrap; cursor: pointer; overflow: hidden;}
div.form div.field ul li.checked{color: #00dd00;}

div.form div.field ul.list li{float: none; margin: 6px 20px 6px 0px; white-space: nowrap; cursor: pointer; overflow: hidden;}
div.form div.field ul.list li.checked{color: #00dd00;}
div.form div.field .radio{margin-top: -2px; border: none; background: none; vertical-align: middle;}

div.form div.button{margin: 20px 0px 20px 0px;}
div.form button.button{
    margin-right: 10px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #666666;
    text-decoration: none;
    border-radius: 4px;
    -webkit-user-select: none;
}

div.form button.ensure {}
div.form button.ensure {border: 1px solid #d73104; background-color: #d73104; color: #ffffff;}
div.form button.ensure:hover {border: 1px solid #ff6600; background-color: #ff6600; color: #ffffff;}

div.form button.submit {}
div.form button.submit {border: 1px solid #d73104; background-color: #d73104; color: #ffffff;}
div.form button.submit:hover {border: 1px solid #ff6600; background-color: #ff6600; color: #ffffff;}

a.button{
    background: transparent url(../images/bar.gif) no-repeat scroll 0px 0px;
    border: 1px solid #b7c8d9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color: #444444;
    display: -moz-inline-stack;
    float: left;
    height: 26px;
    line-height: 26px;
    margin-right: 10px;
    outline: medium none;
    padding: 0 16px 0 26px;
    position: relative;
    text-shadow: 1px 1px #ffffff;
    text-decoration: none;
}

a.button span{
    background: transparent url(../images/sprite.gif) no-repeat scroll 0px 0px;
    height: 18px;
    left: 8px;
    position: absolute;
    top: 4px;
    width: 18px;
}

a.button span.add{background-position: -40px 0px;}
a.button span.save{background-position: -58px 0px;}
a.button span.delete{background-position: -78px 0px;}
a.button span.back{background-position: 0px 0px;}
a.button span.refresh{background-position: -20px 0px;}

div.button-wrap{
    float: left;
    margin-right: 10px;
    padding-left: 2px;
}

div.button-wrap .button{
    margin: 0 0 0 -1px;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}

div.button-wrap a.button.disabled, div.button-wrap a.button.disabled:hover, div.button-wrap a.button.disabled:active{
    background: none repeat scroll 0 0 #ffffff;
    color: #bababa;
    cursor: default;
}

a.add-row-hide{padding-left: 17px; line-height: 25px; background: url(../images/add.gif) no-repeat 0px 0px; text-decoration: none; color: transparent; cursor: default;}
a.add-row-hide:hover{color: #ff6600;}

a.add-row{padding-left: 17px; line-height: 25px; background: url(../images/add.gif) no-repeat 0px 0px; text-decoration: none; color: #ff6600; cursor: default;}
a.add-row:hover{color: #ff0000;}

a.del-row{width: 100px; padding-left: 17px; line-height: 25px; background: url(../images/delete.gif) no-repeat 0px 2px; text-decoration: none; color: transparent; cursor: default;}
a.del-row:hover{color: #ff6600;}

div.board{padding-left: 50px; background: transparent url(../images/t.gif) no-repeat 0px 0px;}
div.last-board{padding-left: 50px; background: transparent url(../images/l.gif) no-repeat 0px 0px;}
div.child-board{padding-left: 100px; background: transparent url(../images/i.gif) no-repeat 0px 0px;};
div.last-category{}

div.child-board a.remove{width: 100px; padding-left: 17px; line-height: 25px; background: url(../images/delete.gif) no-repeat 0px 2px; text-decoration: none; color: transparent; cursor: default;}
div.child-board a.remove:hover{color: #ff6600;}

a.add-forum, a.add-category{padding-left: 17px; line-height: 25px; background: url(../images/add.gif) no-repeat 0px 0px; text-decoration: none; color: #ff6600; cursor: default;}
a.add-child-forum{padding-left: 17px; line-height: 25px; background: url(../images/add.gif) no-repeat 0px 0px; text-decoration: none; color: transparent; cursor: default;}
a.add-child-forum:hover{color: #ff6600;}

div.forum-moderator{display: block; position: relative; width: 120px; text-overflow: ellipsis; white-space: nowrap;}
div.forum-moderator div.text{float: left; width: 180px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
/* div.forum-moderator div.text a{display: none;} */
/* div.forum-moderator div.text a:first-child{display: block;} */

/** #deeffa */
div.forum-moderator div.menu{
    display: none;
    position: absolute;
    top: 20px;
    left: 0px;
    width: auto;
    padding: 4px 10px 4px 10px;
    border: 4px solid #bddcfd;
    background-color: #f4f9fd;
    z-index: 999;
    overflow: hidden;
}
div.forum-moderator:hover div.menu{display: block;}
div.forum-moderator ul{list-style: none;}
div.forum-moderator ul li{line-height: 22px; color: #666666;}

div.forum-moderator a.edit{
    height: 15px;
    line-height: 16px;
    margin: 0px 4px 0px 4px;
    padding-left: 18px;
    background: transparent url(../images/edit.gif) no-repeat -85px 1px;
    font-size: 12px;
    font-weight: normal;
    color: #2366a8;
    font-family: "SimSun";
    text-decoration: none;
}

table tr.old{background-color: #ffffff;}
table tr.even{background-color: #f9f9f9;}
table tr.hover{background-color: #fdfcc0;}
table tr.clicked{background-color: #ffffdd;}

table.flowerlayout{width: 100%; height: 100%;}
table.valign td{vertical-align: middle;}
table.systeminfo td{height: 24px;}
table.systeminfo td.header{background-color: #e8f5fe; font-size: 12px; font-weight: bold;}

table{
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    background-color: #ffffff;
}

table, table td{
    padding: 4px 0px 4px 4px;
    border: none;
    border-collapse: collapse;
}

table tr td{padding-left: 4px;}

table.highlight tr.old{
    background-color: #ffffff;
}

table.highlight tr.even{
    background-color: #f9f9f9;
}

table.highlight tr.hover{
    background-color: #e8f5fe;
}

table.highlight tr.clicked{
    background-color: #ffffdd;
}

/* table */
table.table tr td{border: 1px solid #efefef;}
table.table tr.head td{
    font-weight: normal;
    white-space: nowrap;
    background-color: #eaf8ff;
    color: #5b5b5b;
}

table.table tr.head td em{font-style: normal;}
table.table tr.head td em.title{float: left; height: 20px; line-height: 20px;}
table.table tr.head td em.order{float: left; width: 20px; height: 20px;}
table.table tr.head td em.asc{background: url(../images/narrow.gif) repeat-y scroll 0px 0px transparent;}
table.table tr.head td em.desc{background: url(../images/narrow.gif) repeat-y scroll 0px -20px transparent;}
table.table tr td{padding-left: 4px; line-height: 20px;}

/* list */
table.list tr td{border: 1px solid #efefef;}
table.list tr.head td{
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    background-color: #eaf8ff;
    color: #5b5b5b;
}

table.list tr.head td em{font-style: normal;}
table.list tr.head td em.title{float: left; height: 20px; line-height: 20px;}
table.list tr.head td em.order{float: left; width: 20px; height: 20px;}
table.list tr.head td em.asc{background: url(../images/narrow.gif) repeat-y scroll 0px 0px transparent;}
table.list tr.head td em.desc{background: url(../images/narrow.gif) repeat-y scroll 0px -20px transparent;}
table.list tr td{padding-left: 4px; line-height: 24px;}

table.line{
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    background-color: #ffffff;
}

table.line td{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed #dddddd;
}

table.line tr.head td{
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
    border-bottom: 1px solid #dddddd;
    background-color: #eaf8ff;
    color: #5b5b5b;
}

table.line tr.head td em{font-style: normal;}
table.line tr.head td em.title{float: left; height: 20px; line-height: 20px;}
table.line tr.head td em.order{float: left; width: 20px; height: 20px;}
table.line tr.head td em.asc{background: url(../images/narrow.gif) repeat-y scroll 0px 0px transparent;}
table.line tr.head td em.desc{background: url(../images/narrow.gif) repeat-y scroll 0px -20px transparent;}
table.line tr td{padding-left: 4px; line-height: 24px;}

/* table.form */
table.form{
    width: 100%;
    border-spacing: 0px 0px;
    border-collapse: collapse;
    background-color: #ffffff;
    border: none;
    font-size: 13px;
}

table.form td, table.form th{border-right: 0px #c0c0c0 solid; border-bottom: 0px #c0c0c0 solid;}
table.form tr{height: 26px;}
table.form tr td{border: 1px solid #efefef;}

table.form tr.thead{
    height: 26px;
    background-color: #f1f1f1;
}

table.form tr.head2{height: 48px; background-color: #eaf8ff; border-bottom: 1px solid #e1e1e1;}
table.form tr.head3{height: 26px; background-color: #eaf8ff;}
table.form tr.head4{height: 48px; background-color: #eaf8ff;}

table.form tr.thead td, table.form tr.thead th{
    height: 26px;
    border: none;
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
    color: #0f2c64;
}

table.form tr.thead td, table.form tr.thead h4{
    font-size: 13px;
}

table.form tr.thead td, table.form tr.thead h4 img{
    margin-top: -1px;
}

table.form tr th{white-space: nowrap;}

table.form tr td{
    border: 0px solid #fafafa;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
}

table.form tr td.c1, table.form tr th.c1{
    width: 40px;
    vertical-align: middle;
    text-align: center;
}

table.form tr td.c2, table.form tr th.c2{
    width: 40px;
    vertical-align: middle;
    text-align: center;
}

table.form tr.old{background-color: #ffffff;}
table.form tr.even{background-color: #f9f9f9;}
table.form tr.hover{background-color: #e8f5fe;}
table.form tr.clicked{background-color: #ffffdd;}
/* table end */

/* left */
div.left-nav{/*border-right: 4px solid #a3c4d7; */ border-right: 4px solid #f6f6f6;}
div.menu-head{height: 30px; padding-left: 18px; border-bottom: 2px dashed #a3c4d7; background: url(../images/viewtip.jpg) no-repeat 4px 10px #f5faff;; line-height: 30px;}
div.menu-head h4{font-size: 14px; font-weight: bold;}
div.menu-body{padding-left: 0px;}

ul.menu{}
ul.menu li {margin: 2px 0px;}
ul.menu li a {
    display: block;
    height: 26px;
    padding-left: 32px;
    line-height: 26px;
    background: url(../images/dot.gif) no-repeat 20px 10px transparent;
    text-decoration: none;
    color: #666666;
}
ul.menu li a.active{background-color: #f3f9fc;}
ul.menu li a:hover{background-color: #f3f9fc;}

ul.menu li a em{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../images/window.gif) repeat-y scroll 0px 4px transparent;
}