div.htree{
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 18px;
    /* color: #071e81; */
    cursor: default;
    text-align: left;
}

div.htree div.node{
    height: 18px;
    font-size: 13px;
    letter-spacing: -4px;
}

div.node span, div.node a{
    margin: 0px; padding: 0px; line-height: 18px; font-size: 13px; letter-spacing: 0px;
}

div.node input{
    margin: 0px; padding: 0px; margin-top: -3px;
}

div.node a:link{color: #1f3a87; text-decoration: none;}
div.node a:visited{color: #1f3a87; text-decoration: none;}
div.node a:hover{text-decoration: underline; color: #bc2931;}

div.node img{
    margin: 0px; padding: 0px;
    border: 0px solid #ffffff;
    vertical-align: middle;
}

div.hide{
    display: none;
}

div.show{
    display: block;
}

div.htree div.mouseout{
    background-color: #ffffff;
}

div.htree div.mouseover{
    background-color: #d6e6f6;
}

div.htree div.mouseclick{
    background-color: #d6e6f6;
}